# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Ggplot

|Data Science Tools|
|------------------|
| Jupyter Notebook |
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3 * 4) + 5 #This a simple arithmetic expression to multiply then add integers

17

In [11]:
(200/60)#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

* Python
* java
* Scala
* C++

## Author
FarÄ±d